$base-font: 'Roboto Slab',
serif;

$heading-font: 'Montserrat',
sans-serif;

$paragraf-font: 'Droid Serif',
sans-serif;


$base-color: #777;

$heading-color: #333;

$iconsbg-color: #000;

$icons-color: #fff;

$headerbckgrcolor: #0ed8d6;

$portbckgrcolor: #f7f7f7;

$heading-font: #333;
